@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");

:root {
    --oq: #ffffff;
    --blue: #3d8be4;
    --bigBg: #f6f8f9;
    /* shadow */
    --shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --ff_1: "Open Sans", sans-serif;
}

.button {
    width: 180px;
    height: 60px;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 3px;
    padding: 8px 25px;
    color: var(--bigBg);
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff_1);
    background-color: var(--bigBg);
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--oq);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    box-shadow: var(--shadow1);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.nav-menu>* {
    margin-left: 30px;
    cursor: pointer;
}

.logo {
    width: 90px;
}

.barcha-kurslar {
    box-sizing: border-box;
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 37px;
}

/* .video-lesson {}

.tests {}

.low-price {}

.blog {}

.obUss {} 

.phone {}*/

.register {
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.sign_icon {
    margin-right: 10px;
}

/* -------------------------------------------
              HOME SECTION               
---------------------------------------------- */

.container {
    margin-bottom: 110px;
    position: relative;
    padding: 90px 130px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 73%;
}

.small_t {
    font-size: 17px;
}

.big_t {
    position: relative;
    font-style: normal;
    font-size: 50px;
    font-weight: 600;
    line-height: 130%;
    z-index: 2;
}

.buttons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.b_1 {
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 34px;
    margin-right: 40px;
}

.b_1 .active {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--oq);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 34px;
}

.b_2 {
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 34px;
}

.illu {
    position: absolute;
    z-index: 1;
    /* margin-right: 130px; */
    left: 700px;
    top: 90px;
}

/* .illu_content {} */

.illu_content img {
    width: 510px;
    height: 350px;
}

/* .border_dash {} */

.show_num {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
}

.show_num>* {
    text-align: center;
}

.num {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 130%;
}

.num_t {
    margin-top: 25px;
}

/* -------------------------------------------
              HOME SECTION    END           
---------------------------------------------- */
/* -------------------------------------------
              KURSES SECTION    START           
---------------------------------------------- */
.kurses_container {
    margin-top: 100px;
    padding: 50px 130px;
}

.kurses_top {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.kurses_title {
    margin: 30px;
}

.section_nav {
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .nav_1 {} */

.kurses_title {
    width: 100%;
    text-align: center;
}

/* kurses slider */
.kurses_bottom {
    width: 100%;
}

.swiper {
    padding: 60px 10px !important;
}

.slide {
    width: 100%;
}

.swiper-wrapper {
    padding: 40px 0px;
}

.swiper-slide {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.lesson_img img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 25px !important;
    position: absolute;
    top: 280px;
}

/* LESSON BOX */
.lesson_info {
    padding: 5px 20px 22px 20px;
}

.lesson_title {
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 20px;
}

.lesson_text {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 30px;
}

.lesson_time {
    text-align: start;
}

/* .bottom_button {
    text-align: end;
} */

.lesson_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_button {
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 3px;
    padding: 8px 25px;
    color: var(--blue);
    cursor: pointer;
}

/* -------------------------------------------
              KURSES SECTION END           
---------------------------------------------- */
/* -------------------------------------------
              TARIFLAR SECTION START           
---------------------------------------------- */

.tarif_section {
    background-color: var(--oq);
    padding: 50px 110px;
}

.tarif_title {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.tarif_tariflar {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.tarif_box {
    width: 450px;
    height: max-content;
    padding: 10px 0;
    margin: 20px 30px 30px 5px;
}

.box_title img {
    width: 46px;
    height: 41px;
}

.box_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.box_name {
    margin-left: 10px;
}

.box_content {
    margin-left: 60px;
}

/* -------------------------------------------
              TARIFLAR SECTION END           
---------------------------------------------- */

/* -------------------------------------------
              LOW SECTION START            
---------------------------------------------- */

/* .low_section {} */

.low_container {
    padding: 50px 110px;
}

.low_row_1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 50px;
}

.low_detail {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    width: 50%;
    text-align: start;
}

/* .low_title {} */

.low_row_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}

.show_detail {
    border: none;
    padding: 18px;
    background: var(--blue);
    border-radius: 6px;
    color: var(--oq);
}

.low_row_3 .lesson_img {
    position: relative;
}

.low_row_3 .lesson_img::after {
    position: absolute;
    content: "Low Price";
    top: 30px;
    left: 30px;
    width: 100px;
    height: max-content;
    border-radius: 5px;
    padding: 3px;
    text-align: end;
    background-color: var(--oq);
    z-index: 1;
}

.low_row_3 .lesson_img::before {
    position: absolute;
    content: "$";
    top: 30px;
    left: 30px;
    width: 30px;
    text-align: center;
    color: green;
    font-size: 20px;
    z-index: 2;
}

/* -------------------------------------------
              LOW SECTION END               
---------------------------------------------- */

/* -------------------------------------------
              LEX_VID SECTION START               
---------------------------------------------- */
.lexvid_section {
    width: 100%;
    height: 550px;
}

.lex_container {
    padding: 0 110px;
}

.lex_boxes .swiper-slide {
    border-radius: 0 !important;
    width: 100% !important;
    background: transparent !important;
    border: none;
    box-shadow: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col_1 {
    position: relative;
    width: 45%;
    height: 302px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.col_2 {
    position: relative;
    width: 570px;
    height: 302px;
}

.col {
    padding-bottom: 30px;
}

.col_title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.col_button {
    margin: 60px 0 0 0;
    color: var(--oq);
    background-color: var(--blue);
}

.lex_boxes .swiper-button-prev,
.lex_boxes .swiper-button-next {
    top: 35%;
}

/* -------------------------------------------
              LEX_VID SECTION END               
---------------------------------------------- */
/* -------------------------------------------
              UDO SECTION START               
---------------------------------------------- */
.udo_section {
    width: 100%;
    height: 500px;
    background: var(--oq);
}

.udo_container {
    padding: 20px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.udotext_title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.udo_texts {
    display: flex;
    flex-wrap: wrap;
}

.udo_box {
    margin: 50px 0;
    flex: 50%;
}

.ubox_t {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 15px;
}

.u_text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
}

.udo_img {
    width: 417px;
    height: 405px;
}

/* -------------------------------------------
              UDO SECTION END               
---------------------------------------------- */
/* -------------------------------------------
              POPU SECTION START               
---------------------------------------------- */
.popu_container {
    padding: 50px 110px;
}

.popu_row_1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    margin-top: 50px;
}

.popu_detail {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    width: 50%;
    text-align: start;
}

.popu_row_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_detail_popu {
    text-align: center;
    border: none;
    padding: 18px;
    background: var(--blue);
    border-radius: 6px;
    color: var(--oq);
}

.popu_row_3 .lesson_img {
    position: relative;
}

.popu_row_3 .lesson_img::before {
    content: "";
    background-image: url(../images/top_ico.jpg);
    background-size: 100% 100%;
    display: inline-block;
    height: 25px;
    width: 90px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 7px;
    padding: 5px;
    z-index: 2;
}

/* -------------------------------------------
              POPU SECTION END               
---------------------------------------------- */
/* -------------------------------------------
              CHEN_LESS SECTION START               
---------------------------------------------- */
.chen_less_section {
    width: 100%;
    height: 500px;
    background: var(--oq);
}

.chen_less_container {
    padding: 50px 110px;
}

.chen_less_col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch_col_1 * {
    margin-bottom: 40px;
}

.ch_col_1 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.ch_col_1 p {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 60px;
}

.ch_less_btn {
    background: var(--blue);
}

/* .ch_col_2 {
} */

.ch_col_2 img {
    width: 470px;
    height: 400px;
}

/* -------------------------------------------
              CHEN_LESS SECTION END               
---------------------------------------------- */
/* -------------------------------------------
              MENS SECTION START               
---------------------------------------------- */

.mens_section {
    width: 100%;
    height: 750px;
}

.mens_container {
    padding: 0px 110px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mens_title {
    margin: 100px 0 70px 0;
    flex: 0 1 50%;
}

.mens_info {
    margin: 120px 0 70px 0;
    flex: 0 1 50%;
}

.m_box_1 {
    flex: 0 1 33.33%;
}

.box {
    position: relative;
}

.box_con {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 330px;
    height: 425px;
    padding: 10px;
}

.box_con img {
    top: -20px;
    left: 30px;
    position: absolute;
    width: 140px;
    height: 140px;
}

.b_tit {
    padding: 0 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    transform: translateY(150px);
}

.b_inf {
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    transform: translateY(170px);
}

.b_btn {
    border: 1px solid var(--blue);
    border-radius: 3px;
    width: 290px;
    height: 50px;
    transform: translateY(220px);
    display: block;
    margin: auto;
}

.b_icons {
    transform: translateY(240px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.b_icons * {
    cursor: pointer;
}

.m_box_2 {
    flex: 0 1 33.33%;
}

.m_box_3 {
    flex: 0 1 33.33%;
}

/* -------------------------------------------
              MENS SECTION END               
---------------------------------------------- */
/* -------------------------------------------
              LISE SECTION START
---------------------------------------------- */

.lise_section {
    width: 100%;
    height: min-content;
    background: var(--oq);
}

.lise_container {
    padding: 50px 110px;
}

.lise_col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lise_col_1 * {
    margin-bottom: 40px;
}

.lise_col_1 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.lise_col_1 .lise_info {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    margin-bottom: 60px;
}

.lise_btn {
    background: var(--blue);
}

/*.l_col_2 {}*/

.lise_col_2 img {
    width: 387px;
    height: 573px;
}

/* -------------------------------------------
              CHEN_LESS SECTION END
---------------------------------------------- */
/* -------------------------------------------
              BLOG SECTION START
---------------------------------------------- */
.blog_section {
    width: 100%;
    height: min-content;
    background: var(--oq);
}

.blog_container {
    padding: 50px 110px;
}

.blog_row_1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    margin-top: 50px;
}

.blog_detail {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    width: 50%;
    text-align: start;
}

.blog_row_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_detail_blog {
    text-align: center;
    border: none;
    padding: 18px;
    background: var(--blue);
    border-radius: 6px;
    color: var(--oq);
}

.blog_row_3 .lesson_img {
    position: relative;
}

.blog_row_3 .lesson_img::before {
    content: "";
    background-image: url(../images/top_ico.jpg);
    background-size: 100% 100%;
    display: inline-block;
    height: 25px;
    width: 90px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 7px;
    padding: 5px;
    z-index: 2;
}

.person_info {
    /* width: 100%; */
    border: 2px solid red;
    display: flex;
    align-items: center;
}

.person_detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.person_img {
    transform: translateY(5px);
}

.per_name {
    flex: 0 1 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.per_date {
    flex: 0 1 40%;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    width: min-content;
}

.per_views {
    flex: 0 1 60%;
    display: flex;
    align-items: center;
    transform: translateX(-10px);
}

.per_views img {
    margin: 0 5px;
    width: 16px;
    height: 16px;
}

/* -------------------------------------------
BLOG SECTION END
    ---------------------------------------------- */